.item-container {
  display: flex;
  justify-content: space-between;
  width: inherit;
  padding: 15px 10px;
  background-color: #F8F8F8;
}

.item-container.alternate {
  background-color: #D3D3D3;
}

.item-delete-button {
  height: 44px;
  background-color: red;
  border: 1px solid red;
  color: white;
  border-radius: 6px;
  padding: 5px 15px;
  font-size: 1rem;
  font-weight: bold;
  margin-left: 10px;
}